@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>    
    <main id="main">
        <div class="top-row px-4" style="padding-left: 0">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <article class="content px4" style="height: 100%; padding-right: 0;">
            @Body
        </article>
    </main>
</div>
